@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>Appgistics.</h1>
            <h2>Powering the App Economy. In its own small way.</h2>
        </hgroup>
        <p>
            Mixing social media, the web, mobile and cloud. Mission-critical apps, for the mission-critical Web 3.0 enterprise.
        </p>
    </div>
</section>
}

<h3>What do we do?
    <p>We're into:
    </p>
</h3>

<ol class="round">
    <li class="one">
        <h5>Web and mobile apps</h5>
        Looking for a web app for your next idea? Or a cross-platform mobile app, in order to reach out more? Don't worry - we've got your back.
    </li>
    
    <li class="two">
        <h5>Social apps</h5>
        Want to make your product go social? Hey, we can help!
        </li>
    <li class="three">
        <h5>Cloud computing</h5>
        With the future all about clouds, it's not really wise to spend all that money on servers you won't use properly. But you would want the very best, when it came to having someone set your business up on the cloud. That's what we're for.
    </li>
</ol>